@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  article p.town-article img { width: 40%; }
  
.grid figure figcaption {
    display: initial;
}
main div figure figcaption {
    margin: 32px 0;
}
    
.grid figure img:hover {
    box-shadow: 5px 5px 5px grey;
}   
    
main div.weatherstory img {
    width: 35%; 
}   
section.cityBoxes{
    display: flex;
    flex-direction: row;
} 
    section.cityBoxes div {
        display: flex;
       flex-direction: column;
    }   

}