table {
    border: 1px solid grey;
    border-collapse: collapse;
    font-family: 'Ubuntu', sans-serif;
}
table td {
    border: 1px solid gray;
    text-align: center;
    padding: 7px;
}
table th {
    font-size: 1.5em;
    padding: 8px;
    background-color: #7fb9c2;
}
tfoot {
    background-color: #7fb9c2;
    font-size: .75em;
}
tbody tr:nth-child(even) {
    background-color: #e7f0ed;
}
tbody tr:nth-child(odd) {
    background-color: #e7ffed;
}
tbody tr:first-child {
    background-color: #628ca6;
    color: white;
    font-weight: 500;
}
.novSales {
    color: white;
    background-color: #628ca6;
}