/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

header, nav, main, footer { /* the comma means apply the following CSS declarations to all of the listed elements */
  max-width: 1000px;
    margin: auto; 
}
.headerflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headflexitem:last-of-type {
    align-self: center;
}

header h1 {
    font-family: 'Roboto Slab', serif;
    color: #0187b1;
    padding-left: 20px;
    }

nav img {
    width: 100%;
    max-width: 1000px; 
}

header .subheading {
    padding: 10px 0 .5em 20px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5em;
}

/*nav elements start here*/
nav button {
    display: flex; width: 100%;
    text-align: left;
    font-size: 1.6rem;
    padding: .5em;
    color: white; 
    background-color: #563420;
    }

nav ul.hide {
    display: none;
}
    
nav ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: #563420;
    }

nav ul li a {
    display: flex;
    border-top: solid 1px white;
    list-style-type: none;
    width: 100%;
    padding: .8rem;
    text-decoration: none;
    color: #fafbfb;
}
nav ul li.active a {
    color: black;
    background-color: #80c2d8;
}
nav ul li a:hover {
    color: #E9c165;
}	


main {
    color: #354046;
}
main h2 {
    color: white;
    padding: 1em;
    display: flex;
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-color: #563420;
    margin-top: -.2em;
   }
/*main figure { margin: 0 0 .2rem 2%; width:10%; }
main figure img { width: 100%; }*/

picture img {
    width: 50%;
}
section {
    display: flex;
    align-items: center;
}

table {
    margin-bottom: 5px;
    min-width: 37.5em;
    
}

th, td {
    padding: .5em;
    text-align: center;
    background-color: #E9c165;
}

article p {
    padding-left: 20px;
    padding-right: 20px;
}

article img {  /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
  width: 100%; /* fill the page in the small/phone view */
  margin: 0 0 .5em 0;
}

footer {
    background-color: #80c2d8;
    text-align: center;
    padding: 1em;
}
footer aside p {
    margin-bottom: -10px;
}
footer>p {
    margin-top: 30px;
} 
/* Other Class and id Selectors */
.forecast {
    display: none;
}

.highlow, .conditions {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 0 1.5em 0 1.5em;
}

.current {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    text-align: center;
}

#weathersummary {
    background-color: #80c2d8;
    padding: .5em 0em .5em 1em;
    margin-top: 0;
}

.subhead {
    background-color: #80c2d8;
    padding: .5em 0em .5em 1em;
    margin-bottom: 0;
}

.grid {
    display: grid;
    grid-template-columns: 600px;
    
}

main figure img {
    width: 100%;
}

.grid figure figcaption {
    display: none;
}