@media only screen and (min-width: 37.5em) {
  /* Only CSS rules that need to be changed to meet the layout needs from small to medium go in here */
  
  nav button { display:none; }  /* hamburger button does not need to be shown */
  
  section.forecast { display: initial; }  /* show the 10-day forecast with the medium view and up */
  
  article .articleflex img { 
        
    }  /* responsive images */
      
nav img {
        width: 100%;
    }    

nav ul.hide {
    display: flex;
    } 
    
nav ul {
    display: flex;
    flex-direction: row;
}
    
nav ul li{
    display: flex;
    list-style-type: none;
    background-color: #563420;
}

nav ul li a {
    padding: .8rem;
    text-decoration: none;
    border: none;
    color: #fafbfb;
}
nav ul li.active a {
    color: black;
    background-color: #80c2d8;
}
nav ul li a:hover {
    color: #E9c165;
}	 

    .articleflex {
        display: flex;
        flex-wrap: wrap;
    }
    
    
    
   
}


